<p id="notice"><%= notice %></p>

<p>
  <strong>Ulr:</strong>
  <%= @photo.ulr %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
